<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width:100%;
        object-fit:cover;
      } 
    </style>
    <title>
      Trashee
    </title>
    
  </head>
  <body >
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src=https://trashee-website--pashlenetictac2.repl.co/static/Organising_Recyclables.jpg >
    <div class="container">
      
      <h2 class="text-center mt-2 mb-4"> About Trashee </h2>
      <p class="lead" >Trashee is your go-to partner for efficient and responsible waste management. Whether you're a household, a business, or an industrial facility, we specialize in collecting and transporting trash to our advanced waste warehouses.

      Our dedicated team ensures timely pickups and environmentally conscious disposal, focusing on recycling and sustainability. Join Trashee in creating cleaner, greener communities—schedule your pickup today and experience the transformation of waste management with us. Together, let's build a sustainable future.</p>
      <h2 class="text-center mt-2 mb-4">Trash Types</h2>
      <div>
          {% for job in jobs %}
              {% include 'trashitem.html' %}
          {% endfor %}
      </div>


      <div class="text-center" >
        <button class="btn btn-primary btn-lg">Contact Us</button>
      
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>